body {
    /* background-color: white;
    background-color: black; */
    background-color: #1b2433;
    font-family: 'Roboto', sans-serif;
}

.content {
    display: flex;
    justify-content: center;
}

.periodic-table {
    width: fit-content;
    margin: 30px;
}

.title {
    text-align: center;
    color: #cbd5e2;
}

.element {
    width: 66px;
    border: 1px solid white;
    margin: 0 2px;
    position: relative;
}

.element:hover {
    /* background-color: #10f281;
    color: #1b2433;
    box-shadow: 0 0 10px #10f281, 0 0 40px #10f281, 0 0 80px #10f281; */
    cursor: pointer;
    

}


.symbol {
    font-size: 28px;
}

.name {
    font-size: 11px;
    padding-bottom: 2px;
    overflow-x: scroll;
    padding: 0 3px;
}

.name::-webkit-scrollbar {
    display: none;
  }
  

.number {
    padding-left: 4px;
    padding-top: 2px;
    font-size: 12px;
}

.symbol, .name {
    text-align: center;
}

.first, .second, .third, .four, .five, .six, .seven, .eight, .nine {
    position: relative;
    margin-bottom: 4px;
    display: flex;
}

.right, .left {
    display: flex;
}

.right {
    position: absolute;
    right: 0;
}

.bottom {
    padding-top: 20px;
}

.eight, .nine {
    margin-left: 131.5px;
}

.alkali {
    border: 1px solid #f501ff;
    color: #f501ff;
}

.alkaline {
    border: 1px solid #aa4bff;
    color: #aa4bff;
}

.actinides {
    border: 1px solid #ee2625;
    color: #ee2625;
}

.noble {
    border: 1px solid #f7bf06;
    color: #f7bf06;
}

.halogens {
    border: 1px solid #ffed2c;
    color: #ffed2c;
}

.lanthanides {
    border: 1px solid #bafb39;
    color: #bafb39;
}

.transition-m {
    border: 1px solid #35cff9;
    color: #35cff9;
}

.sm {
    border: 1px solid #10f281;
    color: #10f281;
}

.basic {
    border: 1px solid #f27351;
    color: #f27351;
}

.nm {
    border: 1px solid #309cff;
    color: #309cff;
}

.periodic-table-show {
    padding-bottom: 20px;
}

.labels {
    display: flex;
    align-items: center;
    width: 190px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #cbd5e2;
}


.color {
    width: 60px;
    height: 20px;
    margin-right: 5px;
}

.grps {
    display: flex;
    justify-content: center;
}

.alkali-metal {
    background-color: #f700ff;
}

.alkaline-metal {
    background-color: #a251fa;
}

.transition-metal{
    background-color: #32d4f3;
}

.semi-metal{
    background-color: #0df572;
}

.halogen-metal{
    background-color: #f7f335;
}

.lanthanide-metal{
    background-color: #bbfe32;
}

.basic-metal {
    background-color: #f37331;
}

.nonmetal {
    background-color: #2da0f9;
}

.nobelgas {
    background-color: #fbbc03;
}

.actinide {
    background-color: #fa2225;
}

/* .active {
    height: 100px;
    width: 100px;
} */

.active, #active {
    color: white;
    border: white 1px solid;
    /* z-index: 100; */
    /* background-color: yellow; */
}

.activeBody {
    /* background-color: black; */
    /* opacity: 10; */
    /* background-bl; */
    /* blur */
    /* -webkit-filter: blur(8px); */
    filter: blur(8px);
}